<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>
      <ul>
        <% @employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="show">
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :position %>
      <%= f.collection_select :position_id, Position.all, :id, :name, prompt: true %>
    </div>
    <div>
      <%= f.label :salary %>
      <%= f.text_field :salary %>
    </div>
    <div>
      <%= f.label :bank_number %>
      <%= f.text_field :bank_number %>
    </div>
    <div>
      <%= f.label :bank_account %>
      <%= f.text_field :bank_account %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>